@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: none;
}

svg {
  background-color: orange;
  border-radius: 5px;
  margin-top: 10px;
}

#canvas {
  min-height: 600px;
  min-width: 1000px;
}
#tooltip {
  visibility: hidden;
  height: auto;
  width: auto;
  margin-top: 2px;
  font-size: 30px;
  margin-bottom: 5px;
}

.county:hover {
  fill: black;
}

#legend {
  color: black;
  font-size: 18px;
  text-align: center;
  min-height: 155px;
  max-width: 190px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#title {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
  margin-bottom: 30px;
}

#description {
  text-decoration: none;
  text-align: center;
}
